<div  *ngFor = "let pregunta of Cuestionario; let i = index" class="container themed-container">

    <h4> {{ pregunta.num_pregunta }} .-  {{ pregunta.pregunta }} </h4>

    <div>
        
        <label class="respuestas">

            <input type="radio" name="{{ pregunta.num_pregunta }}" id="{{ pregunta.num_pregunta }}-A" class="radio_input" checked>
            <div class="radio_radio"></div>
            {{pregunta.respuesta_1}} 

        </label>
        <label class="respuestas"> 

            <input type="radio" name="{{ pregunta.num_pregunta }}" id="{{ pregunta.num_pregunta }}-B" class="radio_input">
            <div class="radio_radio"></div>
            {{pregunta.respuesta_2}} 

        </label>

    </div>

</div>

<div class="container boton">

    <button type="button" class="btn btn-primary" (click)="registrarRespuestas()"> Registrar respuestas </button>

</div>